.blog_body {
	background: linear-gradient(top, #161e20, #192224);
	color: #ddd;
}

.blog_body h1, h2, h3 {
	color: #fff;
}

.gold_banner {
	height: 10px;
	width: 100%;
	background: var(--ac-color);
}

.blog_title {
	font-size: 40px;
	padding-top: 20px;
}

.blog_description {
	font-size: 18px;
	max-width: 50ch;
	padding: 0;
	padding-bottom: 30px;
	line-height: 1.9;
}

.blog .note {
	display: block;
    border-left: 0.4rem solid var(--ac-color);
    padding-left: 0.4rem;
    background: linear-gradient(to right, #00000090, transparent);
}

.noselect {
	user-select: none;
}

.blog .note::before {
	content: "NOTE:";
	margin-right: 0.4rem;
	font-weight: bold;
}

.blog .code-block {
	white-space: pre-wrap;
	display: block;
    padding: 0.4rem;
    overflow: auto;
}

.blog img {
	border-radius: 0.4rem;
	background: linear-gradient(to right, #00000090, transparent);
	width: 100%;
}

.blog video {
	margin: 18px 0;
	border-radius: 0.4rem;
	background: linear-gradient(to right, #00000090, transparent);
	width: 100%;
}


.blog img {
	object-fit: contain;
	width: 100%;
}


.blog li {
	line-height: 2;
}

.blog.container {
    max-width: 900px;
    padding: 0 40px;
    margin: 0 auto;
}

.blog {
	font-size: 18px;
	line-height: 1.9;
}

.blog code {
	background: #00000020;
	padding: 0.1rem 0.4rem;
	border-radius: 0.4rem;
	border: 1px solid var(--b-color);
}

@media only screen and (max-width: 600px) {
	.blog.container {
		 padding: 0 30px;
	}

	.blog_title {
		font-size: 32px;
	}

	.blog_description {
		font-size: 16px;
	}

}