.blog_body {
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='0.2' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), linear-gradient(to right, #000, #333);
	/*background:  linear-gradient(to right, #000, #333);*/
	color: #fafafa;
	font-family: "Jura";
}

.blog_body h1,
h2,
h3 {
	color: var(--text);
	font-family: var(--font);
	letter-spacing: 1.5px;
}
.blog_body h2,
.blog_body h3 {
	font-size: 3rem;
}

.blog a {
	color: var(--ac-color);
}

.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
	margin-top: 1rem;
}

.gold_banner {
	height: 3px;
	width: 100%;
	background: linear-gradient(90deg, #161903, #000);
	position: fixed;
	top: 0;
	z-index: 10;
	transform-origin: left;

	/* Animation properties */
	animation: appear ease-in-out;
	animation-timeline: scroll();
	animation-duration: 1s;
}

/* Keyframes to animate scaleX from 0 to 1 */
@keyframes appear {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
.blog_title {
	margin-top: 0;
	font-family: var(--font);
	letter-spacing: 1.5px;
	font-size: 3rem;
	animation: slideUp 0.3s backwards;
	animation-delay: 0.2s;
}

.blog_meta {
	animation: slideUp 0.3s backwards;
	animation-delay: 0.3s;
}

.blog_graph {
	animation: slideUp 0.3s backwards;
	margin: 30px 0 20px 0;
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(33px);
	}
	33% {
		transform: translateY(6px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.blog_description {
	font-size: 18px;
	max-width: 50ch;
	padding: 0;
	padding-bottom: 30px;
	line-height: 1.9;
	animation: slideUp 0.3s backwards;
	animation-delay: 0.4s;
}

.blog-section {
	animation: slideUp 0.3s backwards;
	animation-delay: 0.5s;
}

.blog .note {
	display: block;
	border-left: 0.4rem solid #fccb9e;
	padding: 1rem;
	background: linear-gradient(to right, #00000010, transparent);
}

.noselect {
	user-select: none;
}

.blog .note::before {
	content: "NOTE:";
	margin-right: 0.4rem;
	font-weight: bold;
}

.blog pre {
	font-family: "Jura";
}

.blog .code-block {
	white-space: pre-wrap;
	display: block;
	padding: 0.4rem 0.8rem;
	overflow: auto;
}

.blog img {
	display: block;
	border-radius: 0.4rem;
	background: linear-gradient(to right, #00000020, transparent, #00000010);
	width: 100%;
}

.blog video {
	display: block;
	margin: 18px 0;
	border-radius: 0.4rem;
	background: linear-gradient(to right, #00000020, transparent, #00000010);
	width: 100%;
}

.blog iframe {
	display: block;
	border: none;
	width: 100%;
	margin: 18px 0;
}

.blog .video {
	margin: 18px 0;
	border-radius: 0.4rem;
	background: linear-gradient(to right, #00000020, transparent, #00000010);
	width: 100%;
}

.blog img {
	object-fit: cover;
	width: 100%;
}

.blog li {
	line-height: 2;
}

.blog {
	font-size: 18px;
	line-height: 1.9;
	letter-spacing: 1.1px;
}

.blog code {
	font-family: "Jura";
	background: #333;
	color: var(--text);
	padding: 0.1rem 0.4rem;
	border-radius: 0.4rem;
	border: 1px solid var(--b-color);
}

@media only screen and (max-width: 600px) {
	.blog_title {
		font-size: 36px;
	}

	.blog_description {
		font-size: 16px;
	}
}

/*compare start*/
.compare {
	display: grid;
	overflow: hidden;
	position: relative;
}
.compare > * {
	grid-area: 1 / 1;
}
.compare .compare_before {
	height: 100%;
	transition: all 0.3s ease-in-out;
	mask: linear-gradient(to right, #000 0, var(--range-position, 50%), #0000 0);
}
.compare img {
	object-fit: contain;
	max-inline-size: 100%;
	max-block-size: 100%;
}
.compare .compare_after {
	height: 100%;
	transition: all 0.3s ease;
	mask: linear-gradient(to right, #0000 0, var(--range-position, 50%), #000 0);
}
.compare input[type="range"] {
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	margin-left: -1px;
	appearance: none;
	background: transparent;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
.compare input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	width: 9px;
	height: 10vh;
	border: 2px solid #fff;
	border-radius: 1rem;
	background: CanvasText;
}
.compare input[type="range"]::-moz-range-thumb {
	appearance: none;
	width: 9px;
	height: 10vh;
	border: 2px solid #fff;
	border-radius: 1rem;
	background: CanvasText;
}
/*compare end*/
