.min-100dvh {
    min-height: 100dvh;
}

.full-width {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 0 40px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.font-s {
    font-size: 14px;
}

.font-m {
    font-size: 16px;
}

.font-l {
    font-size: 20px;
}

.font-xl {
    font-size: 30px;
}

.font-xxl {
    font-size: 50px;
}

.grow {
    flex-grow: 1;
}

.block {
    display: block;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 4rem;
}

.p-2 {
    padding: 2rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.justify-center {
    justify-content: center;
}

.gap-2 {
    gap: 2rem;
}

.align-center {
    align-items: center;
}

.darken {
    background: #00000020;
}

.text-center {
    text-align: center;
}

.text-accent {
    color: var(--ac-color);
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.relative {
    position: relative;
}

.profile_image {
    width: 100%;
    max-width: 30rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
    border: 8px solid #161e20;
}

.profile_name {
    font-size: 40px;
    margin-bottom: 0;
}

.profile_description {
    font-size: 18px;
}



.timeline {
    position: relative;
    list-style: none;
    padding-left: 4rem;
}

.timeline:after {
    content: '';
    position: absolute;
    top: 0;
    left: 1.4rem;
    width: 0.2rem;
    height: 100%;
    background: var(--b-color);
}

.timeline_item {
    position: relative;
    margin-bottom: 4em;
}

.timeline_item:after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: -3.2rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.2rem solid var(--b-color);
    background: var(--background);
}

.timeline_item:last-of-type:after {
    top: 3px;
}

.last-quote {
    display: inline-block;
    transform: translateY(50%);
}

.bt-2 {
    border-top: 0.2rem solid var(--b-color);
}

.opacity-05 {
    opacity: 0.5;
}

.opacity-08 {
    opacity: 0.8;
}

.home_dots {
    position: absolute;
    bottom: -20px;
    right: 0px;
    height: 224px;
    margin: 20px;
}

@media (max-width: 500px) {
    .home_dots {
        display: none;
    }
}

@media (max-width: 400px) {
    .profile_image {
        max-width: 300px;
    }

    .profile_name {
        font-size: 24px;
    }

    .profile_description {
        font-size: 16px;
    }

    .font-xl {
        font-size: 18px;
    }

    .font-xxl {
        font-size: 28px;
    }
}