.js-snake_body {
    background: #fff;
}

.js-snake_food {
    background: #fff;
    border-radius: 50%;
}

.js-snake_grid_box {
    border: 0.1rem solid #ffffff30;
}

.js-snake {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}