.js-snake_body {
    background: #000;
    box-shadow: 0 0 8px #000;
}

.js-snake_food {
    background: #000;
    box-shadow: 0 0 8px #000;
    border-radius: 50%;
}

.js-snake {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}