@import url("./css/common.css");

@font-face {
    font-family: bukyVede;
    src: url("/css/fonts/BukyVede-Regular.ttf") format("truetype");
}

.font-bukyVede {
    font-family: var(--font);
    letter-spacing: 2px;
}

:root {
    --text: #282c39;
    --b-color: #00000010;
    --background: #fff;
    --ac-color: #fccb9e;
    --rounded: 1rem;
    --font: bukyVede, "Yeseva One";
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Jura", monospace;
    font-size: 18px;
    color: var(--text);
    background-color: var(--background);
}

a {
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
p {
    font-weight: normal;
}

.github_logo {
    opacity: 1;
    width: 40px;
    height: 40px;
}

.github_logo:hover {
    opacity: 0.5;
}

hr {
    border-color: var(--b-color);
}

#perlin-noise-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.grid-code {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.grid-code > * {
    width: 100%;
}

.video-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 200px);
}

@media (max-width: 500px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

.video-grid > * {
    border-radius: 40px;
}
