@import url('./css/common.css');

:root {
    --text: #fff;
    --b-color: #ffffff20;
    --background: #192224;
    --ac-color: #fccb9e;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Courier;
    font-size: 1rem;
    color: var(--text);
    background-color: var(--background);

}

a {
    color: var(--ac-color);
    text-decoration: none;
}

h1, p {
    font-weight: lighter;
}

.github_logo {
    width: 3rem;
    height: 3rem;
}