@import url("./css/common.css");

@font-face {
    font-family: bukyVede;
    src: url("/css/fonts/BukyVede-Regular.ttf") format("truetype");
}

@font-face {
    font-family: MonahOCS;
    src: url("/css/fonts/MonahOCS.ttf") format("truetype");
}

.font-bukyVede {
    font-family: bukyVede;
    letter-spacing: 3px;
}

.font-MonahOCS {
    font-family: MonahOCS;
    letter-spacing: 3px;
}

:root {
    --text: #fff;
    --b-color: #ffffff10;
    --background: #000000;
    --ac-color: #fccb9e;
    --rounded: 1rem;
    --font: bukyVede, "Yeseva One";
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Jura", monospace;
    font-size: 18px;
    color: var(--text);
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='0.1' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), linear-gradient(to right, #000, #222i);
}

a {
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
p {
    font-weight: normal;
}

.github_logo {
    opacity: 1;
    width: 40px;
    height: 40px;
}

.github_logo:hover {
    opacity: 0.5;
}

hr {
    border-color: var(--b-color);
}

#perlin-noise-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.grid-code {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.grid-code > * {
    flex-basis: 100%;
    flex-grow: 1;
    width: 100%;
}

.video-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 200px);
}

@media (max-width: 500px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

.video-grid > * {
    border-radius: 40px;
}
