@import url('./css/common.css');

:root {
    --text: #fff;
    --b-color: #ffffff20;
    --background: #192224;
    --ac-color: #fccb9e;
    --rounded: 1rem;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100dvh;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Jura', monospace;    font-size: 18px;
    color: var(--text);
    background-color: var(--background);
}

a {
    color: var(--ac-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


h1, p {
    font-weight: lighter;
}

.github_logo {
    width: 48px;
    height: 48px;
}

hr {
    border-color: var(--b-color);
}

#perlin-noise-bg {
    position: absolute;
    z-index: -1;
}
